[submodule "third_party/truss_analyzer"]
	path = third_party/truss_analyzer
	url = https://github.com/kerwinarlan/truss_analyzer.git
[submodule "third_party/midasgennx_2d_truss_example"]
	path = third_party/midasgennx_2d_truss_example
	url = https://github.com/kerwinarlan/midasgennx_2d_truss_example.git
